<%= link_to cocktail_path(cocktail) do %>
  <div class="col-xs-12 col-md-4">
    <div class="card-category cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1506095065388-fa0cea31bbfc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80')">
      <%= cocktail.name %>
    </div>
     <!--  <%= link_to cocktail_path(cocktail), method: :delete do %>
        <i class="fas fa-times cocktail-delete"></i>
      <% end %> -->
  </div>
<% end %>
