
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1486428263684-28ec9e4f2584?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80');">
  <div class="container">
    <h2>Mr & Mrs Cocktails!</h2>
    <p class="banner-p"><%= link_to 'Add Your Own Cocktail', new_cocktail_path %></p>
  </div>
</div>

<div class="container">
  <div class="row cocktails-row">
    <% @cocktails.each do |cocktail| %>
      <%= render 'cocktails/card', cocktail: cocktail %>
    <% end %>
  </div>
</div>
