body {
  background-color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-family: 'Montserrat', sans-serif;
}

.link {
  color: blue;
}

.container {
  margin-top: 50px;
}

.link-container {
  margin-top: 50px;
}

.add-cocktail {
  width: 500px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.add-cocktail-label {
  color: #2b2726;
  font-weight: lighter;
}

.btn {
  // margin-top: 40px;
  font-size: 16px;
  padding: 12px;
  border: 1px solid rgba(101, 79, 41, 0.79);
  border-radius: 5px;
  color: rgba(101, 79, 41, 0.79);
  background-color: #FFFFFF;
  font-weight: lighter;
  &:hover {
    background-color: #FFFFFF;
    color: #654f29;
    border: 1px solid #654f29;
  }
}

.home-botton {
  color: #FFFFFF;
  font-weight: lighter;
  position: absolute;
  top: 15px;
  right: 30px;
}

.dose-delete {
  color: #5c4d4d;
  font-size: 13px;
}
